<!DOCTYPE html>
<html>
<head>
  <title>FaceClone</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>

  </style>
</head>
<body>
<!-- nav -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">FaceClone</a>
    </div>
    <div class="search">
      <form id="seach-form-id" onsubmit="searchUserDirectly()" method="get">
        <input type="text"
               autocomplete="off"
               id="search-box-text"
               placeholder=" Search Users"
               name="search-box" onkeyup="searchUser()">
        <div class="dropdowncontdiv" id="dropdowncontdivid">
        </div>

        <button type="submit">
          <i class="fa fa-search"
             style="font-size: 18px;">
          </i>
        </button>
      </form>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a onclick="darkMode()">Dark Mode</a></li>
      <li><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<!-- ./nav -->

<!-- main -->
<main class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- profile brief -->
      <div class="panel panel-default">
        <label></label>
        <div class="panel-body">
          <h4 id="profileaydi" style="display: none">{{.profileId}}</h4>
          <p>{{.statusMessage}}</p>
        </div>
      </div>
      <!-- ./profile brief -->

      <!-- friend requests -->
      <div class="panel panel-default">
        <div class="panel-body">
          <h4></h4>
          <ul>
            <li style="display: none">
              <a href="#"> </a>
              <a class="text-success" href="#"></a>
              <a class="text-danger" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- ./friend requests -->
    </div>
    <div class="col-md-6">
      <!-- post form -->
      <form method="post" action="/postIt" enctype="multipart/form-data" >
        <div class="input-group"  >
          <textarea contenteditable="true" class="form-control" name="postmessage" placeholder="Make a post..."></textarea>
          <span class="input-group-btn">
            <img class="upimg" id="upimage1" src="/img/upicon.jpg" alt="Upload Image" onclick="uploadImage()">
            <input style="display: none" id="postimage"  type="file" name="postimage" accept="image/*" onchange="document.getElementById('imgToBeUploaded').src=window.URL.createObjectURL(this.files[0]);document.getElementById('imgToBeUploaded').style.display='inline'">
             <input class="btn btn-success" type="submit" name="post" value="Post">
            </span>
        </div>
        <br>
        <div>
          <img style="display: none" id="imgToBeUploaded"  width="70" height="70">
        </div>
      </form>
      <hr>
      <!-- ./post form -->

      <div>

        <!-- post -->
        {{range .posts}}
        <div class="panel panel-default" style="border-style:dot-dot-dash;border-width:thick;border-bottom-color:#618685">
          <div class="panel-body">
            {{.PostImageFilepath}}
            <br>
            <p>{{.PostMessage}}</p>
            <br>
            {{.PostYtEmbedLink}}
          </div>
          <div class="panel-footer">
            <span>posted at <b>{{.PostTime.Format "15:04:05 02/01/2006"}}</b> by <span>{{.Postername}}</span></span>
            {{ if eq .Postername $.profileId }}
            <span class="pull-right"  ><a class="text-danger"  href="javascript:void(0)" onclick="deletePost('/delpost/{{.PostId}}')">[delete]</a><a id="dummy-delete" style="display: none" href="" ></a></span>
            {{end}}
          </div>
        </div>
        <hr>

        {{end}}
        <!-- ./post -->
      </div>

      <!--loadmore-->
      <div id="loadmoredivid">
      </div>
      <div class="form-group">
        <input class="btn btn-primary" id="loadmoreid" type="button" name="loadmore" value="Load more" onclick="loadMore('/loadmorehome/')" >
      </div> <span id="loadstatusbybuttonid" style="display: none"> </span>
      <!--loadmore-->

      <!-- ./feed -->
    </div>
    <div class="col-md-3">
      <!-- add friend -->
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Suggestions</h4>
          {{range .suggestibles}}
          <ul>
            <li>
              <a href="/user/{{.}}">{{.}}</a>

            </li>
          </ul>
          {{end}}
        </div>
      </div>
      <!-- ./add friend -->

      <!-- friends -->
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Missed me?</h4>
          <ul>
            <li>
              <p>Check <a href="/user/{{.randomFriend}}" style="font-weight: bold;color: #122b40">{{.randomFriend}}</a>'s account!</p>

            </li>
          </ul>
        </div>
      </div>
      <!-- ./friends -->



    </div>
  </div>
</main>
<!-- ./main -->

<!-- footer -->
<footer class="container text-center">
  <ul class="nav nav-pills pull-right">
    <li>FaceClone - Made by @fukaraca</li>
  </ul>
</footer>
<!-- ./footer -->
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>