<!DOCTYPE html>
<html>
<head>
    <title >FaceClone - {{.profileID}}</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        #user_id {
            display: none;
        }
    </style>
</head>
<body>
<!-- nav -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">FaceClone</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
<!-- ./nav -->

<!-- main -->
<main class="container">

    <!-- buraya fotoğraflar gelecek-->
    <div class="row">
        <div class="col-md-9">
            <p>fotoğraf alanı</p>
        </div>
    </div>
    <!-- buraya fotoğraflar gelecek-->

    <div class="row">
        <div class="col-md-3">
            <!-- edit profile -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><b>About </b> <span id="profile-id">{{.profileID}}</span> </h4>
                    <span id="user-id">{{.username}}</span>

                    <div class="panel-collapse">
                        <label >Relationship: {{.profilestruct.Relationship.String}}</label>
                    </div>

                    <div class="panel-collapse">
                        <label >School: {{.profilestruct.School.String}}</label>
                    </div>


                    <div class="panel-collapse">
                        <label >Location: {{.profilestruct.Location.String}}</label>
                    </div>


                    <div class="panel-collapse">
                        <label >Workplace: {{.profilestruct.Workplace.String}}</label>
                    </div>

                    <br>

                    <div class="form-group">
                        <input class="btn btn-primary" id="addfriendbut" type="button" name="addfriend" value="{{.addButtonValue}}" onclick="addUnfriend()">
                    </div>


                </div>
            </div>
            <!-- ./edit profile -->
        </div>


        <div class="col-md-6">
            <!-- user profile -->
            <div class="media">
                <div class="media-left">
                    <img src="{{.avatarPath}}" class="media-object" alt="Avatar couldn't be loaded" id="avatar-img" style="max-width: 150px; max-height: 150px;">
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{.profilestruct.Name.String}} {{.profilestruct.Lastname.String}}</h2>
                    <p>Bio: {{.profilestruct.Bio.String}}</p>
                </div>
            </div>
            <!-- user profile -->

            <hr>

            <!-- timeline -->
            <div>
                <!-- post -->
                {{range .posts}}
                <div class="panel panel-default" style="border-style:dot-dot-dash;border-width:thick;border-bottom-color:#618685">
                    <div class="panel-body">
                        {{.PostImageFilepath}}
                        <br>
                        <p>{{.PostMessage}}</p>
                        <br>
                        {{.PostYtEmbedLink}}
                    </div>
                    <div class="panel-footer">
                        <span>posted at <b>{{.PostTime.Format "15:04:05 02/01/2006"}}</b> by {{.Postername}}</span>
                    </div>
                </div>
                <hr>
                {{end}}
                <!-- ./post -->
            </div>

            <!--loadmore-->
            <div id="loadmoredivid">
            </div>
            <div class="form-group">
                <input class="btn btn-primary" id="loadmoreid" type="button" name="loadmore" value="Load more" onclick="loadMore('/loadmore/{{.profileID}}/')" >
            </div> <span id="loadstatusbybuttonid" style="display: none"> </span>
            <!--loadmore-->

            <!-- ./timeline -->
        </div>


        <div class="col-md-3" style="alignment: right">


            <!-- friends -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Friends</h4>
                    {{range .friends}}
                    <ul>
                        <li>
                            <a href="/user/{{.Friendname}}">Friend with<span style="font-weight: bold"> {{.Friendname}}</span> <span style="color: #0f0f0f"> since: </span><span style="font-weight: bold">{{.Since.Time.Format "02/01/2006"}}</span></a>

                        </li>
                    </ul>
                    {{end}}

                </div>
                <span style="display: none" id="avatar-username">{{.avatarUsername}}</span>
            </div>
            <!-- ./friends -->

            <!--chat-->
            <div id="outer-chat-div" >
                <div id="chat-div" style="display: none">
                    <div id="messages-div">

                        
                    </div>
                    <div id="chat-footer">
                        <textarea id="chat-textarea"></textarea>
                        <button id="chat-post-button" onclick="wsSendPost()" >Post</button>

                    </div>
                    <div style="background:#bbb;display: flex;">
                        <span id="ws-status-p" ></span>
                        <button id="ws-con-close" onclick="wsOnConnect()"  ></button>
                    </div>
                </div>
                <div id="chat-open-div">
                    <button id="chat-open-button" onclick="openChat()">Chat</button>
                </div>
            </div>

            <!--chat-->

        </div>
    </div>
</main>
<!-- ./main -->

<!-- footer -->
<footer class="container text-center">
    <ul class="nav nav-pills pull-right">
        <li>FaceClone - Made by @fukaraca</li>
    </ul>
</footer>
<!-- ./footer -->
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/websocket.js"></script>
<script>
    if (document.getElementById('addfriendbut').value==="Unfriend") {
        document.getElementById('addfriendbut').style.backgroundColor="firebrick";
    }

</script>
</body>
</html>