<!DOCTYPE html>
<html>
<head>
  <title>FaceClone {{.profileID}}</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">FaceClone</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home">Home</a></li>
        <li><a href="/settings">Edit Profile Settings</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">

    <!-- buraya fotoğraflar gelecek-->
    <div class="row">
      <div class="col-md-9">
        <p>fotoğraf alanı</p>
      </div>
    </div>
    <!-- buraya fotoğraflar gelecek-->

    <div class="row">
      <div class="col-md-3">
        <!-- edit profile -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Edit profile</h4>
            <form method="post" action="/updatestatus">

              <div class="panel-collapse">
                <label >Relationship: {{.profilestruct.Relationship.String}}</label>
              </div>
              <div class="hidyform"style="display: none">
                <input class="form-control" type="text" name="relationship" placeholder="Change relationship status" value="{{.profilestruct.Relationship.String}}" >
              </div>

              <div class="panel-collapse">
                <label >School: {{.profilestruct.School.String}}</label>
              </div>
              <div class="hidyform" style="display: none">
                <input class="form-control" type="text" name="school" placeholder="Latest school" value="{{.profilestruct.School.String}}">
              </div>

              <div class="panel-collapse">
                <label >Location: {{.profilestruct.Location.String}}</label>
              </div>
              <div class="hidyform" style="display: none">
                <input class="form-control" type="text" name="location" placeholder="Change Location" value="{{.profilestruct.Location.String}}" >
              </div>

              <div class="panel-collapse">
                <label >Workplace: {{.profilestruct.Workplace.String}}</label>
              </div>
              <div class="hidyform"style="display: none">
                <input class="form-control" type="text" name="workplace" placeholder="Change workplace" value="{{.profilestruct.Workplace.String}}" >
              </div>
              <br>

              <div class="form-group">
                <input class="btn btn-primary" id="showbutton" type="button" name="showedit" value="Edit" onclick="hideEditStatus()">
              </div>
              <div class="hidyform" style="display: none">
                <input class="btn btn-primary" type="submit" name="editprofile" value="Submit">
              </div>

            </form>
          </div>
        </div>
        <!-- ./edit profile -->
      </div>


      <div class="col-md-6">
        <!-- user profile -->
        <div class="media">
          <div class="media-left">
            <img src="{{.avatarPath}}" class="media-object" alt="Avatar couldn't be loaded" style="max-width: 150px; max-height: 150px;">
          </div>
          <div class="media-body">
            <h2 class="media-heading">{{.profilestruct.Name.String}} {{.profilestruct.Lastname.String}}</h2>
            <p id="bio-p">Bio: <span id="bio-span">{{.profilestruct.Bio.String}}</span></p>
          </div>
        </div>
        <!-- user profile -->

        <hr>

        <!-- timeline -->
        <div id="profile-posts-div">
          <!-- post -->
          {{range .posts}}
          <div class="panel panel-default" style="border-style:dot-dot-dash;border-width:thick;border-bottom-color:#618685">
            <div class="panel-body">
              {{.PostImageFilepath}}
              <br>
              <p>{{.PostMessage}}</p>
              <br>
              {{.PostYtEmbedLink}}
            </div>
            <div class="panel-footer">
              <span>posted at <b>{{.PostTime.Format "15:04:05 02/01/2006"}}</b> by {{.Postername}}</span>
              <span class="pull-right"  ><a class="text-danger" href="javascript:void(0)" onclick="deletePost('/delpost/{{.PostId}}')">[delete]</a><a id="dummy-delete" style="display: none" href="" ></a></span>
            </div>
          </div>
          <hr>
          {{end}}
          <!-- ./post -->
        </div>

        <!--loadmore-->
        <div id="loadmoredivid">
        </div>
        <div class="form-group">
          <input class="btn btn-primary" id="loadmoreid" type="button" name="loadmore" value="Load more" onclick="loadMore('/loadmoreprofile/')" >
        </div> <span id="loadstatusbybuttonid" style="display: none"> </span>
        <!--loadmore-->

        <!-- ./timeline -->
      </div>


      <div class="col-md-3" style="alignment: right">


        <!-- friends -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Friends</h4>
            {{range .friends}}
            <ul>

              <li>
                <a href="user/{{.Friendname}}"><span style="font-weight: bold">{{.Friendname}}</span> <span style="color: #0f0f0f">is your friend since: </span><span style="font-weight: bold">{{.Since.Time.Format "02/01/2006"}}</span></a>
                <a class="text-danger" href="unfriend/{{.Friendname}}" onclick="return confirm('Are you sure you want to unfriend {{.Friendname}}?')"> [Unfriend]</a>
              </li>

            </ul>
            {{end}}
          </div>
        </div>
        <!-- ./friends -->
      </div>
    </div>
  </main>
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      <li>FaceClone - Made by @fukaraca</li>
    </ul>
  </footer>
  <!-- ./footer -->
  <script type="text/javascript" src="/js/script.js"></script>
<script>
  if (document.getElementById('profile-posts-div').children.length<10){document.getElementById('loadmoreid').style.display='none'}
  if (document.getElementById('bio-span').innerText===''){document.getElementById('bio-p').value=''}
</script>
</body>
</html>