<!DOCTYPE html>
<html>
<head>
  <title>FaceClone</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
    .required:after {
      content:" *";
      color: red;
    }

    .update-bio-class{
      display: block;
    }
  </style>
</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">FaceClone</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout" >Logout</a></li>


      </ul>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">
    <div class="col-md-3">
      <!-- edit profile -->
      <div class="panel panel-default">
        <div class="panel-body">
          <h4><b>Edit profile:</b></h4>
          <hr>
          <form method="post" action="/updateprofile" >
            <div class="form-group">
              <label class="required"  >Firstname:</label>
              <input class="form-control" type="text" name="firstname" placeholder="Your name" value="{{.firstname}}" required>
            </div>

            <div class="form-group">
              <label class="required" >Family name:</label>
              <input class="form-control" type="text" name="lastname" placeholder="Your family name" value="{{.lastname}}"required>
            </div>

            <div class="form-group">
              <label class="required" >Gender:</label>
              <select class="form-control" name="gender" required >
                <option value="{{.gender}}"  selected>{{.gender}}</option>
                <option value="male" >Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>

            <div class="form-group">
              <label class="required" >Birthday:</label>
              <input class="form-control" type="date" name="birthday" placeholder="" value="{{.birthday}}" required>
            </div>

            <div class="form-group">
              <label class="required" >Mobile Number(+01234567890):</label>
              <input class="form-control" type="tel" pattern="[+]{1}[0-9]{11,14}" name="mobilenumber" placeholder="Phone number" value="{{.mobilenumber}}"required>
            </div>

            <div class="form-group">
              <label class="required" >Country:</label>
              <select class="form-control" name="country"required>
                <option value="{{.country}}" selected>{{.country}}</option>
                <option value="Turkey" >Turkey</option>
                <option value="USA">USA</option>
                <option value="Germany">Germany</option>
                <option value="Canada">Canada</option>
              </select>
            </div>

            <div class="form-group">
              <input class="btn btn-primary" type="submit" name="update_profile" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- user profile block with avatar -->
      <div class="media">
        <div class="media-left">
          <img src="{{.avatarPath}}" class="media-object" alt="Avatar couldn't be loaded" style="max-width: 150px; max-height: 150px;">
        </div>
        <div class="media-body"><!-- section at the right of avatar -->
          <span><b>Username:  </b>{{.username}}</span>
          <p><b>Bio:  </b> {{.bio}}</p>
        </div>
      </div>


      <hr>
      <input type="button" value="Edit Bio" id="edit-bio-btn" class="btn btn-primary" onclick="toggleEditBio()">
      <form method="post" class="update-bio-class" id="update-bio-id" action="/updateBio" enctype="multipart/form-data" style="display: none" >
      <div class="form-group"  >
        <textarea contenteditable="true" class="form-control" name="bioMessage" placeholder="How do you feel..."></textarea>
        <input class="btn btn-primary" type="submit" name="updateBioBtn" value="Update Bio">

      </div>
      </form>
      <hr>

      <!-- change profile picture -->
      <form method="post" action="/updatepp" enctype="multipart/form-data">
      <div class="form-group">
        <label for="change_pp">Select image:</label>
        <input class="btn btn-primary" id="change_pp" type="file" name="change_pp" accept="image/*" required>
        <br>
        <input type="submit" class="btn btn-primary" value="Update">
      </div>
      </form>
      <label>{{.statusMessage}}</label>
    </div>
    <!--change password -->
    <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Change Password</h4>
        <form method="post" action="/changepassword">
          <div class="form-group">
            <input class="form-control" type="password" name="newpassword" placeholder="New Password" value="" required>
          </div>

          <div class="form-group">
            <input class="form-control" type="password" name="oldpassword" placeholder="Old Password" value="" required>
          </div>

          <div class="form-group">
            <input class="btn btn-primary" type="submit" name="change_password" value="Change">
          </div>
        </form>
        <hr>
        <hr> <!--"return confirm('Are you sure you want to delete your account?')"-->
        <h4>Delete Account</h4>
        <form method="post" action="/deleteaccount" >
          <div class="form-group">
            <input class="btn btn-primary" type="button" name="fakedelete" value="Delete" onclick="hideDelete()">
          </div>
          <div class="form-group" id="hidiv" style="display: none">
            <input class="form-control" type="password" name="deletepw" placeholder="Enter your password" value="" required>
            <br>
            <input style="background-color: red;color: black" class="btn btn-primary" type="submit" name="deleteme" value="Ok just delete" onclick="return confirm('Are you sure you want to delete your account?')">
          </div>
        </form>


      </div>
    </div>
    <!-- ./friends -->
    </div>
  </main>
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      <li>FaceClone - Made by @fukaraca</li>
    </ul>
  </footer>
  <!-- ./footer -->
<!--
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
-->
  <script type="text/javascript" src="/js/script.js"></script>

</body>
</html>